<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histoire D'une Fete</title>
    <script src="./res/index.js" defer></script>
    <link rel="stylesheet" href="./res/index.css">
    <link rel="icon" type="image/x-icon" href="./res/images/HDF-icon.png">
</head>
<body>
    <div class="main-logo-top">
        <img id="main-logo" src="./res/images/HDF-full.png">
    </div>
    <nav class="nav">
        <div class="nav-item nav-logo-div">
            <img class="nav-logo" src="./res/images/HDFlogo.png">
        </div>
        <div class="nav-item">
            <a>Home</a>
        </div>
        <div class="nav-item">
            <a>Team</a>
        </div>
        <div class="nav-item">
            <a>Services</a>
        </div>
        <div class="nav-item right">
            <a>Contact</a>
        </div>
    </nav>

    <div class="kharboushe-notification">
        <p>Take a look at our creative community.</p>
        <a class="button" href="/kharboushe">Visit Kharboushe</a>
    </div>

    <p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p><p>abc</p>
</body>
</html>