<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kharboushe</title>
    <script src="./res/index.js" defer></script>
    <link rel="stylesheet" href="./res/index.css">
    <link rel="icon" type="image/x-icon" href="./res/images/HDF-icon.png">
</head>
<body>
   
</body>
</html>