<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Team</title>
    <script src="./res/index.js" defer></script>
    <link rel="stylesheet" href="./index.css">
    <link rel="icon" type="image/x-icon" href="./images/HDF-icon.png">
</head>
<body>

    <section class="intro">
    <h4>The Team</h4>
        <p>They say it's all about the people, and at Histoire D'une Fete, we couldn't agree more. Our team is a group of passionate event professionals with the creativity, experience, and dedication to turn your vision into a reality. We make sure to bring a wealth of talent to the table, ensuring every detail is flawlessly executed.
        </p>
        <p>
        Ready to get to know the dream team who will make your event unforgettable? Dive in and meet the amazing individuals who will be by your side every step of the way.</p>
    </section>

    <div class="team-wrapper">

        <div class="person">
            <img src="asdsa">
            <div class="person-text">
                <h1>Wassim Wehbe</h1>
                <p>He is a person.</p>
            </div>
        </div>

    </div>
   
</body>
</html>