<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <script src="./res/index.js" defer></script>
    <link rel="stylesheet" href="./index.css">
    <link rel="icon" type="image/x-icon" href="./images/HDF-icon.png">
</head>
<body>
   <div class="aboutus-wrapper">
        <div class="title">
            <h2>About Us</h2>
        </div>

        <div class="section">
            <h3>What we do</h3>
            <p>Our team is one you can rely on to manage end-to-end logistics for your event. Our responsibilities include:</p>
        </div>

        <div class="section">
            <h3>Event Planning, Management and Creation</h3>
            <p>“Story of a Party”, where every event becomes an unforgettable tale. As purveyors of exceptional experiences, we specialize in crafting narratives that captivate, inspire, and leave a lasting impression. With meticulous attention to detail and a passion for creativity, we transform ordinary gatherings into extraordinary moments. Welcome to a world where every party has a tale to tell.</p>
        </div>

        <div class="section">
            <h3>Event Budget Management</h3>
            <p>Managing a central event budget that is affordable and economic to the client while still bringing all required services from A to Z.</p>
        </div>

        <div class="section">
            <h3>Exceptional Management and Execution</h3>
            <p>On the day of the event, we ensure that all runs smoothly so that you can simply enjoy your wishes come to light.</p>
        </div>

        <div class="section">
            <h3>Post-Event Analysis and Feedback</h3>
            <p>Delivering a post-event report detailing performance vs goals to help better prepare for your future events and experiences of which we hope you share with us. We aim to deliver top quality assistance to all our clients and that is why we wish you give us your kind feedback to help us better prepare in the future</p>
        </div>
   </div>
</body>
</html>